<h1>Goal! simple task manager</h1>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Create new task
    </button>
  </div>
</div>
<div class="row tasks-row">
  <div class="col-md-12 sort-btn-wrapper">
    <%= link_to 'Sort tasks by title', root_path(sort: 'title'), class: 'btn btn-small btn-success' %>
  </div>
  <div class="col-md-6">
      <%= render 'tasks/tasks', task_list: @tasks_completed, title: 'Completed tasks', heading_class: 'success' %>
  </div>
  <div class="col-md-6">
      <%= render 'tasks/tasks', task_list: @tasks_uncompleted, title: 'Uncompleted tasks', heading_class: 'warning' %>
  </div>
</div>

<!-- Modal -->
<%= render 'tasks/form' %>