// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasklist-item {
    &__mod-buttons {
        display: inline-block;
        visibility: hidden;
    }
    &:hover &__mod-buttons {
        visibility: visible;
    }
}

.completed-label {
    padding: 20px 0;
}

.control-buttons-wrapper {
    padding: 20px 0;
}

.tasks-row {
    padding-top: 40px;
}

.sort-btn-wrapper {
    padding: 15px;
    text-align: center;
}